<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    
<div class="wrapper">
    <h1>coming soon<span class="dot">.</span></h1>
    <br>
    <p>Yash Jivrajani</p>
    <br> <br>
    <div class="icons">
      <a href="https://github.com/yashjiv1502"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/yash-jivrajani-77ba0717b/"><i class="fa fa-linkedin"></i></a>
      <a href="https://yashjiv1502.github.io/"><i class="fa fa-address-card"></i></a>
    </div>
   </div>
   </body>
   </html>
